@media only screen and (max-width: 600px) {
    .topbartitle {
            font-size: 1.25rem;
    }
}

.sidebar {
    background-color: #3d486c;
}
 
/* Add a hover effect if you want */
.fab:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook-f {
    background: #3B5998;
    color: white;
    padding: 4px;
    font-size: 18px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 4px;
    font-size: 18px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
} 

.fa-github {
    color:#858796;
    font-size: 26px;    
    text-align: center;
    text-decoration: none;
    vertical-align: -3px;
}

.fa-linkedin {
    color:#0077b5;
    font-size: 26px;    
    text-align: center;
    text-decoration: none;
    vertical-align: -4px;
}